/* @tailwind base; */

.visible {
  visibility: visible
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.\!relative {
  position: relative !important
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.m-0 {
  margin: 0px
}

.mb-\[12px\] {
  margin-bottom: 12px
}

.ml-\[10px\] {
  margin-left: 10px
}

.ml-\[11px\] {
  margin-left: 11px
}

.ml-\[12px\] {
  margin-left: 12px
}

.ml-\[45px\] {
  margin-left: 45px
}

.ml-\[550px\] {
  margin-left: 550px
}

.ml-\[5px\] {
  margin-left: 5px
}

.mr-\[230px\] {
  margin-right: 230px
}

.mt-\[-15px\] {
  margin-top: -15px
}

.mt-\[10px\] {
  margin-top: 10px
}

.block {
  display: block
}

.flex {
  display: flex
}

.table {
  display: table
}

.h-\[100px\] {
  height: 100px
}

.h-\[150px\] {
  height: 150px
}

.h-\[20px\] {
  height: 20px
}

.h-\[240px\] {
  height: 240px
}

.h-\[24px\] {
  height: 24px
}

.h-\[264px\] {
  height: 264px
}

.h-\[30px\] {
  height: 30px
}

.h-\[52px\] {
  height: 52px
}

.h-\[62px\] {
  height: 62px
}

.w-\[100\%\] {
  width: 100%
}

.w-\[100px\] {
  width: 100px
}

.w-\[133px\] {
  width: 133px
}

.w-\[160px\] {
  width: 160px
}

.w-\[20px\] {
  width: 20px
}

.w-\[24px\] {
  width: 24px
}

.w-\[325px\] {
  width: 325px
}

.w-\[52px\] {
  width: 52px
}

.w-\[62px\] {
  width: 62px
}

.w-\[660px\] {
  width: 660px
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-evenly {
  justify-content: space-evenly
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.rounded-\[10px\] {
  border-radius: 10px
}

.rounded-\[20px\] {
  border-radius: 20px
}

.border-none {
  border-style: none
}

.bg-\[\#f0f0f1\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 241 / var(--tw-bg-opacity))
}

.p-0 {
  padding: 0px
}

.p-\[10-px\] {
  padding: 10-px
}

.p-\[10px\] {
  padding: 10px
}

.px-\[175px\] {
  padding-left: 175px;
  padding-right: 175px
}

.px-\[205px\] {
  padding-left: 205px;
  padding-right: 205px
}

.px-\[35px\] {
  padding-left: 35px;
  padding-right: 35px
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px
}

.py-\[35px\] {
  padding-top: 35px;
  padding-bottom: 35px
}

.pb-0 {
  padding-bottom: 0px
}

.pb-\[10px\] {
  padding-bottom: 10px
}

.pb-\[20px\] {
  padding-bottom: 20px
}

.pb-\[35px\] {
  padding-bottom: 35px
}

.pl-\[16px\] {
  padding-left: 16px
}

.pl-\[170px\] {
  padding-left: 170px
}

.pl-\[35px\] {
  padding-left: 35px
}

.pl-\[530px\] {
  padding-left: 530px
}

.pl-\[6px\] {
  padding-left: 6px
}

.pr-\[10px\] {
  padding-right: 10px
}

.pr-\[13px\] {
  padding-right: 13px
}

.pr-\[15px\] {
  padding-right: 15px
}

.pr-\[16px\] {
  padding-right: 16px
}

.pr-\[170px\] {
  padding-right: 170px
}

.pr-\[35px\] {
  padding-right: 35px
}

.pt-0 {
  padding-top: 0px
}

.pt-\[10px\] {
  padding-top: 10px
}

.pt-\[35px\] {
  padding-top: 35px
}

.text-center {
  text-align: center
}

.text-\[15px\] {
  font-size: 15px
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[17px\] {
  font-size: 17px
}

.text-\[21px\] {
  font-size: 21px
}

.text-\[30px\] {
  font-size: 30px
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.italic {
  font-style: italic
}

.text-\[\#454546\] {
  --tw-text-opacity: 1;
  color: rgb(69 69 70 / var(--tw-text-opacity))
}

.text-\[\#62666d\] {
  --tw-text-opacity: 1;
  color: rgb(98 102 109 / var(--tw-text-opacity))
}

.text-\[\#7c7c84\] {
  --tw-text-opacity: 1;
  color: rgb(124 124 132 / var(--tw-text-opacity))
}

.text-\[\#838589\] {
  --tw-text-opacity: 1;
  color: rgb(131 133 137 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.no-underline {
  text-decoration-line: none
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width: 768px) {
  .md\:mb-\[8px\] {
    margin-bottom: 8px
  }

  .md\:ml-\[16px\] {
    margin-left: 16px
  }

  .md\:mr-\[30px\] {
    margin-right: 30px
  }

  .md\:mt-\[6px\] {
    margin-top: 6px
  }

  .md\:mr-\[230px\] {
    margin-right: 230px
  }

  .md\:ml-\[1px\] {
    margin-left: 1px
  }

  .md\:flex {
    display: flex
  }

  .md\:flex-row {
    flex-direction: row
  }
}

@media (min-width: 1280px) {
  .xl\:mt-\[10px\] {
    margin-top: 10px
  }

  .xl\:flex {
    display: flex
  }

  .xl\:flex-row {
    flex-direction: row
  }
}